.article-list {
  max-width: var(--grid-container-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-l);

  a {
    display: grid;
    text-decoration: none;
  }
}


@media (width >= 900px) {
  .article-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
