.article-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-l);

  a {
    display: grid;
    text-decoration: none;
  }
}

@media (width >= 900px) {
  .article-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 1200px) {
  .article-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
